.quote {
    font-family: 'Libre Baskerville', serif;

    text-transform: uppercase;
    
}

img {
    border: 5px solid #F6F6F6;
    width: 100%;

}

div {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;

}
* {
    color: #F6F6F6;
    background-color: #212121;
}

p {
    font-size: 14pt;
}